<div ng-include="'portal/templates/appsMenu.html'"></div>
<div class="container" ng-show="loggedIn">
    <form>
        <div class="form-field-wrapper">
            <label for="myJobs"></label>
            <div class="form-field-wrapper">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <h4>Add to Job Board</h4>
                        <span><h6>What?</h6>
                        <div class="form-field-wrapper">
                            <input ng-model="newJob" type="text" required="" placeholder="e.g. kitchen, house, clean up, set up" name="whatJob" id="whatJob" class="input-sm form-full" aria-required="true">
                        </div>
                        </span>
                        <span>
                            <h6>Due Date?</h6>
                            <div class="form-field-wrapper">
                            <div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}">
                            <input id="newDateJob" ng-model="newDateJob" class="input-sm form-full" aria-required="true" required="" type="date" class="form-control" data-date-format="yyyy-MM-dd" data-date-type="number" data-min-date="today" data-autoclose="1" name="date2" bs-datepicker>
                            </div>
                        </div>
                        </span>
                        <span>
                            <h6>Due at a time?</h6>
                            <div class="form-field-wrapper">
                            <select ng-model="newTimeJob" class="form-control" required="" class="input-sm form-full" aria-required="true">
                            	<option ng-repeat="time in times">{{time}}</option>
                            </select>
                            </div>
                        </span>
                        <span>
                           <div class="form-field-wrapper">
                            <h6>Willing to offer?</h6>
                            <input ng-model="newHowMuchJob" type="text" placeholder="A trade, $, etc." name="howMuchJob" id="howMuchJob" class="input-sm form-full" >
                            </div>
                        </span>
                        <button ng-click="postJob(newJob, newDateJob, newTimeJob, newHowMuchJob)" class="btn btn-md btn-black">Add Job</a>
                    </div>
                    <div class="col-md-6">
                        <h3>Job Board</h3>
                        <h6 ng-if="jobs.length > 0">(swipe left to delete, click to get in contact)</h6>
                        <ul class="list-group">
                            <li ng-click="notifyOwner(job)" ng-swipe-left="removeJob(job)" style="word-wrap: break-word" ng-repeat="job in jobs" class="list-group-item"><strong>{{job.what}}</strong> by {{formatDate(job.when)}} <span ng-show="{{job.howMuch.length > 0}}">| {{job.howMuch}}</span> - <small>{{job.firstName}} {{job.lastName}}</small></li>
                        </ul>
                    </div>
                </div>
                <!-- 
                <select ng-model="jobToTrade" required="" name="job-to-trade" id="job-to-trade" aria-required="true">
                <option value="" disabled selected>Select from my jobs</option>
                <option ng-repeat="job in myJobs">{{job.body}}</option>
                </select> -->
            </div>
        </div>
</div>